RewriteEngine on

# http://localhost/
RewriteRule ^$ Public/index.php [L]

# http://localhost/toto -> OK
# http://localhost/cours -> NOK
# http://localhost/cours/test -> OK
# http://localhost/cours/POO.php -> NOK
# <link rel="stylesheet" href="public/css/style.css">
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . Public/index.php [L]


# je veux que localhost tout court ammène sur un controleur qui
# s'papelle main et sur une action qui s'appelle home, cette action homme possède une variable pseudo contenant votre pseudo, elle doit afficher une vue dans le template front affichant bonjour suivit du pseudo